body {
    font-family: Arial;
    margin: 25px;
}

h1, h2 {
    color: #000000;
}

form {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    display: none;
    font-size: 0.9em;
    margin-top: 5px;
    border-radius: 7px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffffff;
}

button.eliminar {
    background-color: #ff0019;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.eliminar:hover {
    background-color: #ff0019;
}
